<!DOCTYPE html> 
<html>

    <head>
        <title>Authorization</title> 
        <meta charset="UTF-8"/> 
        <script src="./jquery-3.4.1.min.js"></script>  
        <script src="./index.js"></script> 
        <link href = "styleAuth.css" rel = "stylesheet" type = "text/css"/>

    </head> 

    <body> 
        <div id="hat"><img src="iq.jpg" width=1300px height=200px/></div><br/>
        <h4>Введите логин</h4> 
        <input id= "login"/>
        <h4>Введите пароль</h4>     
        <input id= "password" type="password"/><br/> 
        <button iwd = 'sendButton'>Войти</button> 
    </body>

</html>